html {
    scroll-behavior: smooth;
}

#page-content {
    margin-top: 94px;
    font-family: "Poppins";
    font-style: "italic";
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(211,209,210,0.5);
    width: 75%;
    left: 12.5%;
    position: relative;
    z-index: 50;
    min-height: 100%;
}

* {
    margin:0;
    padding: 0;
    font-family: "Poppins";
    cursor: default;
}

.header {
    padding-bottom:6px;
    top: 0px;
    background: linear-gradient(to left, #164194, #8b1065, #e82910)left bottom rgb(255, 255, 255) no-repeat; 
    background-size:100% 6px ;
    width: 100%;
    height: 94px;
    position: fixed;
    transition: padding 300ms ease;
    z-index: 100;
}

header.sticky {
    padding: 10px 20px;
}
#headerTitle {
    color: #494847;
    left: 41%;
    width:20%;
    top: 25%;
    /* top: 19px; */
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
}

#Slogo {
    width:7.1%;
    height:60%;
    left: 17.45%;
    top: 17%;
    position: relative;
}

#SDlogo {
    width:12%;
    left: 60%;
    top: 50%;
    position: relative;
}

.question {
    margin-top: 2%;
    width: 100%;
    left: 15%;
    position: relative;
    color: #164194;
    text-align: left;
    font-weight: bold;
    font-size: 110%;
}

.textBox {
    font-family: "Poppins";
    width: 100%;
    height: 140px;
    position: relative;
    left: 15%;
    font-size: 100%;
    resize: vertical;
    background-color: white;
    border: 0.5px solid rgb(92, 92, 92);
}

.QA-Block {
    left: 1.5%;
    position: relative;
    width: 75%;
    margin-bottom: 1%;
}

#datepicker {
    font-size: 110%;
    margin-bottom:0.4%;
}

.ui-datepicker {
    margin: 5px auto 0;
    font-size: 16px;
    background-color: rgb(223, 223, 223);
    border: 1px solid black;
    font-family: "Poppins";
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.ui-datepicker table {
    width: 100%;
    border-top: 1px solid black;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px;
}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
}

.ui-datepicker .ui-datepicker-prev .ui-icon { background-image:none !important; }
.ui-datepicker .ui-datepicker-next .ui-icon { background-image:none !important; } 
.ui-datepicker .ui-datepicker-prev .ui-icon:before { content:"<"; }
.ui-datepicker .ui-datepicker-next .ui-icon:after { content:">"; }

.ui-datepicker th {
    background-color:#808080;
    text-transform: uppercase;
    font-size: 8pt;
    color: #000000;
    /*text-shadow: 1px 0px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
    padding: 0;
    border: 1px solid #a0a0a0;
    color: #164194;
}

.ui-datepicker tbody td .ui-state-hover {
    font-weight: bold;
}
.ui-datepicker a {
    text-decoration: none;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #164194;
    /*text-shadow: 1px 1px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.footer {
    padding-top:6px;
    background: linear-gradient(to left, #67D8EC 30%, #99F739 70%) left top rgb(73,72,71) no-repeat; 
    background-size:100% 6px;
    width: 100%;
    position: relative;
    height: 200px;
    bottom: -2%;
}
textarea:focus {
    outline: none;
}

#submit {
    background-color: transparent;
    text-align: center;
    font-size: 1.5rem;
    left: 26%;
    width: 6%;
    top: 20%;
    position: relative;
    color: white;
    border: 3px solid white;
}
#submit:hover {
    background-color: white;
    color: #494847;
    font-weight: bold;
}

.name {
    width: 10%;
    top: -10%;
    left: 40%;
    position: relative;
    background-color: transparent;
    color: white;
    border: transparent;
    border-bottom: 2px solid white;
    margin: 0.25%;
    font-size: 1rem;
}

.emptyInput {
    border: 3px solid rgba(255, 61, 61, 1);
}
.emptyName {
    border-bottom: 2px solid rgba(255, 61, 61, 0.479);
}

#SDEmblem {
    left: 67%;
    position: relative;
    width: 5%;
    top: 53%;
}


::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #164194;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #173063; 
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
